# NYC311 Complaint System - Data Science and Machine Learning Project

The people of New Yorker use the 311 system to report complaints about the non-emergency problems to local authorities. Various agencies in New York are assigned these problems. The Department of Housing Preservation and Development of New York City is the agency that processes 311 complaints that are related to housing and buildings.

In the last few years, the number of 311 complaints coming to the Department of Housing Preservation and Development has increased significantly. Although these complaints are not necessarily urgent, the large volume of complaints and the sudden increase is impacting the overall efficiency of operations of the agency.
Therefore, we will help to manage the large volume of 311 complaints they are receiving every year.

The answers to the following questions will be supported by data and analytics:
1. Which type of complaint should the Department of Housing Preservation and Development of New York City focus on first?
2. Should the Department of Housing Preservation and Development of New York City focus on any particular set of boroughs, ZIP codes, or streets (where the complaints are severe) for the most important types of complaints?
3. Do the most important types of complaints have an obvious relationship with any particular characteristic or characteristics of the houses or buildings?
4. Can a predictive model be built for a future prediction of the possibility of complaints of the type that you identified as the most important types of complaints?

As the lead data scientist to provide the answers to these questions, I will follow the standard approach of data science and machine learning in order to find the answers.

In [1]:
# The code was removed by Watson Studio for sharing.

In [2]:
df_nyc311_full = pd.read_csv(body)
df_nyc311_full.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [3]:
#The dataset contains complaints logged since 01/01/2020.
df_created_date = df_nyc311_full.groupby(['Created Date']).mean()
df_created_date.head()

,Unnamed: 0,Unique Key,Incident Zip,Latitude,Longitude
Created Date,,,,,
01/01/2010 02:31:13 PM,177182.0,15634460.0,NaN,NaN,NaN
01/01/2010 02:39:02 PM,177179.0,15634698.0,NaN,NaN,NaN
01/01/2010 04:18:46 PM,177186.0,15633862.0,NaN,NaN,NaN
01/01/2010 04:59:23 PM,177188.0,15633410.0,NaN,NaN,NaN
01/01/2010 05:00:01 AM,177180.0,15634558.0,NaN,NaN,NaN

In [4]:
#The dataset contains complaints logged until 02/02/2020 (The original dataset is already sorted by most recent date).
df_nyc311_full.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [5]:
#Incidents with a missing Incident Address: 52825.
df_nyc311_full.isnull().sum()

Unnamed: 0                     0
Unique Key                     0
Created Date                   0
Closed Date               126657
Complaint Type                 0
Location Type              52824
Incident Zip               80697
Incident Address           52825
Street Name                52825
Address Type               84765
City                       80274
Status                         0
Resolution Description      7826
Borough                        0
Latitude                   80671
Longitude                  80671
dtype: int64

In [6]:
# The code was removed by Watson Studio for sharing.

In [7]:
df_bx = pd.read_csv(body)
df_bx.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [8]:
#Valid ZIP Codes in the Bronx PLUTO dataset:26.
df_bx_zipcodes = df_bx.groupby(['ZipCode'], as_index=False).mean()
df_bx_zipcodes.ZipCode.count()

26

In [9]:
# The code was removed by Watson Studio for sharing.

In [10]:
df_qn = pd.read_csv(body)
df_qn.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

In [11]:
#Valid ZIP Codes exist in the Queens PLUTO dataset:65.
df_qn_zipcodes = df_qn.groupby(['ZipCode'], as_index=False).mean()
df_qn_zipcodes.ZipCode.count()

65

In [12]:
df_nyc311_full.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [13]:
#Total number of complaints that exist in the dataset: 6019843.
df_nyc311_full = df_nyc311_full.rename(columns={'Unnamed: 0': 'Complaint Number'})
df_nyc311_full['Complaint Number'].count()

6019843

In [14]:
#Differnt Complaint Types in the dataset.
df_nyc311_complainttype = df_nyc311_full.groupby(['Complaint Type'], as_index=False).mean()
df_nyc311_complainttype

,Complaint Type,Complaint Number,Unique Key,Incident Zip,Latitude,Longitude
0,AGENCY,3.672882e+06,3.416003e+07,10722.625000,40.761880,-73.896024
1,APPLIANCE,3.200409e+06,3.038593e+07,10747.527259,40.755069,-73.916624
2,Appliance,4.545061e+06,4.331047e+07,11260.500000,40.695551,-73.939291
3,CONSTRUCTION,1.522862e+06,2.198996e+07,10813.531126,40.738134,-73.923463
4,DOOR/WINDOW,4.295417e+06,3.519916e+07,10736.985590,40.754592,-73.920945
5,ELECTRIC,2.906821e+06,2.853808e+07,10812.326386,40.743550,-73.917524
6,ELEVATOR,4.394605e+06,3.628090e+07,10739.323214,40.752612,-73.922430
7,Electric,1.969940e+05,4.328233e+07,10032.000000,40.837228,-73.944223
8,FLOORING/STAIRS,4.310539e+06,3.492654e+07,10709.584722,40.758843,-73.922732
9,GENERAL,4.209156e+06,3.492886e+07,10688.395195,40.754715,-73.924981
10,GENERAL CONSTRUCTION,1.517689e+06,2.194099e+07,10775.076431,40.749700,-73.920726
11,General,5.910580e+06,4.319368e+07,10696.431288,40.757472,-73.923597
12,HEAT/HOT WATER,4.087170e+06,3.599271e+07,10715.543965,40.760565,-73.919690
13,HEATING,1.622637e+06,2.247568e+07,10725.664528,40.758643,-73.919172
14,HPD Literature Request,1.914373e+05,2.776405e+07,NaN,NaN,NaN
15,Mold,5.999756e+06,4.346647e+07,11230.000000,40.611852,-73.959802
16,NONCONST,1.507166e+06,2.190752e+07,10806.332513,40.744043,-73.919941
17,OUTSIDE BUILDING,4.162153e+06,3.419075e+07,10801.688630,40.736035,-73.923460
18,Outside Building,5.987177e+06,4.321107e+07,10998.833333,40.672312,-73.942636
19,PAINT - PLASTER,1.501998e+06,2.186794e+07,10764.905768,40.753160,-73.920676
20,PAINT/PLASTER,4.238254e+06,3.460125e+07,10725.062993,40.758593,-73.920440
21,PLUMBING,2.645533e+06,2.733991e+07,10762.811290,40.751179,-73.919437
22,Plumbing,5.985078e+06,4.319189e+07,10865.363636,40.725652,-73.919633
23,SAFETY,4.302313e+06,3.535633e+07,10807.134557,40.742755,-73.919610
24,STRUCTURAL,2.549386e+06,2.652207e+07,10794.187500,40.762322,-73.909392
25,Safety,5.917121e+06,4.319714e+07,10787.103774,40.750353,-73.917119
26,UNSANITARY CONDITION,4.297844e+06,3.546044e+07,10768.101590,40.748890,-73.919409
27,Unsanitary Condition,5.955936e+06,4.319548e+07,10752.635618,40.753433,-73.918915
28,VACANT APARTMENT,4.315708e+06,3.430194e+07,10494.666667,40.762084,-73.905789
29,WATER LEAK,4.282208e+06,3.535161e+07,10753.494779,40.753171,-73.919854

In [15]:
#Differnt Complaint Types in the dataset.
df_nyc311_complainttype.count()

Complaint Type      30
Complaint Number    30
Unique Key          30
Incident Zip        29
Latitude            29
Longitude           29
dtype: int64

In [16]:
#Elevator complaints in the dataset ~ 6725
#Electric complaints in the dataset ~ 307311 (Electric complaints appear as ELECTRIC, and as Electric)
#Setting 800,000 as a threshold, complaint types recommended to the Department of Housing Preservation and Development of New York City to address first:
#A-HEAT/HOT WATER , B-HEATING
df_nyc311_full['Complaint Type'].value_counts()

HEAT/HOT WATER            1261574
HEATING                    887850
PLUMBING                   711130
GENERAL CONSTRUCTION       500863
UNSANITARY CONDITION       451643
PAINT - PLASTER            361257
PAINT/PLASTER              346438
ELECTRIC                   307310
NONCONST                   260890
DOOR/WINDOW                205278
WATER LEAK                 193631
GENERAL                    151308
FLOORING/STAIRS            137402
APPLIANCE                  112831
HPD Literature Request      52824
SAFETY                      51529
OUTSIDE BUILDING             7142
ELEVATOR                     6725
Unsanitary Condition         5499
CONSTRUCTION                 5078
General                      1163
Safety                        424
STRUCTURAL                     16
Plumbing                       11
AGENCY                          9
VACANT APARTMENT                6
Outside Building                6
Appliance                       4
Mold                            1
Electric                        1
Name: Complaint Type, dtype: int64

In [17]:
#Borough that has the highest number of complaints submitted setting 800,000 as a threshold: Bronx
df_nyc311_full.groupby(['Borough', 'Complaint Type']).size().sort_values(ascending=False).head(20)

Borough      Complaint Type
BRONX        HEAT/HOT WATER          410853
BROOKLYN     HEAT/HOT WATER          384523
MANHATTAN    HEAT/HOT WATER          285526
Unspecified  HEATING                 282916
BROOKLYN     PLUMBING                204287
BRONX        HEATING                 195280
BROOKLYN     HEATING                 190322
BRONX        PLUMBING                179872
QUEENS       HEAT/HOT WATER          168318
BROOKLYN     UNSANITARY CONDITION    154272
Unspecified  GENERAL CONSTRUCTION    150277
MANHATTAN    HEATING                 137513
BRONX        UNSANITARY CONDITION    136843
BROOKLYN     GENERAL CONSTRUCTION    132848
Unspecified  PLUMBING                132296
BROOKLYN     PAINT/PLASTER           116220
BRONX        PAINT/PLASTER           115679
MANHATTAN    PLUMBING                111365
Unspecified  PAINT - PLASTER         110072
BRONX        GENERAL CONSTRUCTION    107868
dtype: int64

In [18]:
#Borough had the lowest number of complaints submitted setting 800,000 as a threshold: Staten Island
df_nyc311_full.groupby(['Borough', 'Complaint Type']).size().sort_values().head(75)

Borough        Complaint Type
Unspecified    HEAT/HOT WATER              1
STATEN ISLAND  STRUCTURAL                  1
BROOKLYN       Mold                        1
               Outside Building            1
MANHATTAN      Electric                    1
BROOKLYN       AGENCY                      1
QUEENS         Appliance                   1
MANHATTAN      Plumbing                    2
QUEENS         AGENCY                      2
               Plumbing                    2
               VACANT APARTMENT            2
STATEN ISLAND  Outside Building            2
BRONX          Plumbing                    2
MANHATTAN      STRUCTURAL                  3
               AGENCY                      3
BROOKLYN       Appliance                   3
QUEENS         Outside Building            3
BRONX          AGENCY                      3
               STRUCTURAL                  4
MANHATTAN      VACANT APARTMENT            4
QUEENS         STRUCTURAL                  4
BROOKLYN       STRUCTURAL                  4
               Plumbing                    5
STATEN ISLAND  Safety                     14
Unspecified    Unsanitary Condition       18
               General                    22
STATEN ISLAND  General                    26
MANHATTAN      Safety                     65
STATEN ISLAND  ELEVATOR                   65
QUEENS         Safety                     70
                                       ...
               OUTSIDE BUILDING         1088
STATEN ISLAND  SAFETY                   1226
BROOKLYN       CONSTRUCTION             1444
MANHATTAN      OUTSIDE BUILDING         1463
Unspecified    CONSTRUCTION             1526
BRONX          OUTSIDE BUILDING         1580
MANHATTAN      ELEVATOR                 1677
BRONX          Unsanitary Condition     1753
               ELEVATOR                 1801
BROOKLYN       Unsanitary Condition     1814
               ELEVATOR                 2116
STATEN ISLAND  APPLIANCE                2238
               GENERAL                  2338
               FLOORING/STAIRS          2655
BROOKLYN       OUTSIDE BUILDING         2761
STATEN ISLAND  WATER LEAK               3488
               NONCONST                 3905
               DOOR/WINDOW              4187
               PAINT - PLASTER          4232
               PAINT/PLASTER            5918
               HEATING                  6015
               ELECTRIC                 6391
               GENERAL CONSTRUCTION     8358
QUEENS         SAFETY                   8535
MANHATTAN      SAFETY                   9395
STATEN ISLAND  UNSANITARY CONDITION    11174
QUEENS         APPLIANCE               11754
STATEN ISLAND  HEAT/HOT WATER          12353
               PLUMBING                12476
QUEENS         FLOORING/STAIRS         12907
Length: 75, dtype: int64

In [19]:
#ZIP code with the highest number of complainted submitted setting 800,000 as a threshold: 11226.
df_nyc311_full.groupby(['Incident Zip', 'Complaint Type']).size().sort_values(ascending=False).head(20)

Incident Zip  Complaint Type
11226.0       HEAT/HOT WATER    41786
10458.0       HEAT/HOT WATER    38864
10467.0       HEAT/HOT WATER    38110
10468.0       HEAT/HOT WATER    34507
10453.0       HEAT/HOT WATER    34241
11226.0       PLUMBING          28534
10457.0       HEAT/HOT WATER    28295
10452.0       HEAT/HOT WATER    28118
10467.0       HEATING           27963
10031.0       HEAT/HOT WATER    27274
11226.0       HEATING           27255
10458.0       HEATING           26508
10456.0       HEAT/HOT WATER    25660
10462.0       HEAT/HOT WATER    25523
11225.0       HEAT/HOT WATER    25194
10468.0       HEATING           23683
10453.0       HEATING           23577
11213.0       HEAT/HOT WATER    22916
10040.0       HEATING           22264
              HEAT/HOT WATER    22214
dtype: int64

In [20]:
#The address 89-21 Elmhurst Avenue had the highest number of complainted submitted (setting 800,000 as a threshold).
df_nyc311_full.groupby(['Incident Address', 'Complaint Type']).size().sort_values(ascending=False).head(50)

Incident Address                Complaint Type
89-21 ELMHURST AVENUE           HEAT/HOT WATER          10896
34 ARDEN STREET                 HEATING                  8893
1025 BOYNTON AVENUE             HEAT/HOT WATER           5220
3810 BAILEY AVENUE              HEATING                  5172
34 ARDEN STREET                 HEAT/HOT WATER           4965
9511 SHORE ROAD                 HEAT/HOT WATER           4587
2090 EAST TREMONT AVENUE        HEAT/HOT WATER           3615
72-10 41 AVENUE                 HEAT/HOT WATER           2810
1711 FULTON STREET              HEAT/HOT WATER           2776
2968 PERRY AVENUE               HEAT/HOT WATER           2462
97 SHERMAN AVENUE               HEATING                  2412
2750 HOMECREST AVENUE           HEAT/HOT WATER           2390
2040 BRONXDALE AVENUE           HEAT/HOT WATER           2277
888 GRAND CONCOURSE             HEAT/HOT WATER           2264
1425 DR M L KING JR BOULEVARD   HEAT/HOT WATER           2236
266 BEDFORD PARK BOULEVARD      HEAT/HOT WATER           2143
2176 TIEBOUT AVENUE             HEAT/HOT WATER           2085
98-10 64 AVENUE                 ELECTRIC                 2048
3810 BAILEY AVENUE              HEAT/HOT WATER           1943
1030 BOYNTON AVENUE             HEAT/HOT WATER           1907
30 BUCHANAN PLACE               HEAT/HOT WATER           1809
109 NORTH    7 STREET           HEAT/HOT WATER           1712
2074 WALLACE AVENUE             HEAT/HOT WATER           1686
957 WOODYCREST AVENUE           HEATING                  1527
750 GRAND CONCOURSE             HEAT/HOT WATER           1515
1025 BOYNTON AVENUE             UNSANITARY CONDITION     1480
2410 WASHINGTON AVENUE          HEAT/HOT WATER           1459
381 VERNON AVENUE               HEAT/HOT WATER           1421
2856 WEBB AVENUE                HEAT/HOT WATER           1352
3605 SEDGWICK AVENUE            HEAT/HOT WATER           1320
116 EAST MOSHOLU PARKWAY SOUTH  HEATING                  1302
712 CROWN STREET                HEAT/HOT WATER           1238
2664 GRAND CONCOURSE            HEAT/HOT WATER           1161
554 DE KALB AVENUE              HEAT/HOT WATER           1145
635 WEST 170 STREET             HEATING                  1134
2500 WEBB AVENUE                HEAT/HOT WATER           1126
170 HAWTHORNE STREET            HEAT/HOT WATER           1101
417 LORIMER STREET              HEAT/HOT WATER           1061
2074 WALLACE AVENUE             HEATING                  1051
89-21 ELMHURST AVENUE           UNSANITARY CONDITION     1034
644 RIVERSIDE DRIVE             HEAT/HOT WATER           1027
2995 BOTANICAL SQUARE           HEAT/HOT WATER           1018
139 EAST   27 STREET            HEAT/HOT WATER           1009
2625 GRAND CONCOURSE            HEAT/HOT WATER           1006
1225 SHERIDAN AVENUE            HEAT/HOT WATER            992
888 GRAND CONCOURSE             HEATING                   987
3607 BROADWAY                   HEAT/HOT WATER            925
883 EAST  180 STREET            HEAT/HOT WATER            913
223 LINDEN BOULEVARD            HEAT/HOT WATER            906
20 WEST MOSHOLU PARKWAY SOUTH   HEATING                   904
dtype: int64

In [21]:
#Number of submitted tickets that were closed: 2,133,331 (setting 800,000 as a threshold).
df_nyc311_full.groupby(['Status', 'Complaint Type']).size().sort_values(ascending=False)

Status       Complaint Type
Closed       HEAT/HOT WATER            1256876
             HEATING                    876455
             PLUMBING                   685071
             GENERAL CONSTRUCTION       471240
             UNSANITARY CONDITION       448141
             PAINT/PLASTER              344807
             PAINT - PLASTER            339610
             ELECTRIC                   298082
             NONCONST                   245612
             DOOR/WINDOW                204059
             WATER LEAK                 192289
             GENERAL                    150053
             FLOORING/STAIRS            136595
             APPLIANCE                  109058
             HPD Literature Request      51744
             SAFETY                      51261
Open         GENERAL CONSTRUCTION        29623
             PLUMBING                    26059
             PAINT - PLASTER             21647
             NONCONST                    15278
             HEATING                     11393
             ELECTRIC                     9228
Closed       OUTSIDE BUILDING             7086
             ELEVATOR                     6631
             Unsanitary Condition         5253
             CONSTRUCTION                 4812
Open         HEAT/HOT WATER               4698
             APPLIANCE                    3773
             UNSANITARY CONDITION         3502
             PAINT/PLASTER                1631
             WATER LEAK                   1342
             GENERAL                      1255
             DOOR/WINDOW                  1219
             HPD Literature Request       1076
Closed       General                      1067
Open         FLOORING/STAIRS               807
Closed       Safety                        405
Open         SAFETY                        268
             CONSTRUCTION                  266
In Progress  Unsanitary Condition          246
             General                        96
Open         ELEVATOR                       94
             OUTSIDE BUILDING               56
In Progress  Safety                         19
Closed       STRUCTURAL                     16
             Plumbing                       11
             AGENCY                          9
             Outside Building                6
Open         VACANT APARTMENT                5
Assigned     HPD Literature Request          4
Closed       Appliance                       2
In Progress  Appliance                       2
Pending      HEATING                         2
Closed       Electric                        1
             VACANT APARTMENT                1
In Progress  Mold                            1
dtype: int64

In [22]:
#Age of buildings can be determined from the PLUTO dataset.
df_bx['YearBuilt']

0           0
1        1931
2        1931
3        1931
4        1920
5           0
6        1931
7        1931
8           0
9           0
10       1931
11          0
12          0
13          0
14       1967
15          0
16       1963
17       1931
18       1931
19       1973
20          0
21       1931
22       1931
23       1984
24       1915
25       1920
26       1990
27       2003
28       1925
29       1990
         ...
89824       0
89825       0
89826    1920
89827    1987
89828    1930
89829    1965
89830    1910
89831       0
89832    1899
89833    1920
89834    1940
89835    1940
89836    1940
89837    1940
89838    1940
89839    1940
89840    1910
89841       0
89842    1848
89843    1956
89844       0
89845    1931
89846       0
89847       0
89848       0
89849       0
89850       0
89851       0
89852       0
89853       0
Name: YearBuilt, Length: 89854, dtype: int64

In [23]:
#Methodologies that can be used for further identification in whether any relationship exist between the building characteristics and the number of complaints:
#Pearson Correlation, Feature Importance function from Random Forest algorithm, Feature Importance function from XGBoost algorithm.

In [24]:
#The cardinality of the data in PLUTO dataset is NOT at the same level as the complaint dataset.
df_nyc311_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019843 entries, 0 to 6019842
Data columns (total 16 columns):
Complaint Number          int64
Unique Key                int64
Created Date              object
Closed Date               object
Complaint Type            object
Location Type             object
Incident Zip              float64
Incident Address          object
Street Name               object
Address Type              object
City                      object
Status                    object
Resolution Description    object
Borough                   object
Latitude                  float64
Longitude                 float64
dtypes: float64(3), int64(2), object(11)
memory usage: 734.8+ MB

In [25]:
#The cardinality of the data in PLUTO dataset is NOT at the same level as the complaint dataset.
df_nyc311_full['Incident Address'].describe()

count             5967018
unique             182600
top       34 ARDEN STREET
freq                14298
Name: Incident Address, dtype: object

In [26]:
#The cardinality of the data in PLUTO dataset is NOT at the same level as the complaint dataset.
df_bx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89854 entries, 0 to 89853
Data columns (total 87 columns):
Borough                 89854 non-null object
Block                   89854 non-null int64
Lot                     89854 non-null int64
CD                      89854 non-null int64
CT2010                  89447 non-null float64
CB2010                  87342 non-null float64
SchoolDist              89695 non-null float64
Council                 89649 non-null float64
ZipCode                 89525 non-null float64
FireComp                89568 non-null object
PolicePrct              89692 non-null float64
HealthCenterDistrict    89727 non-null float64
HealthArea              89630 non-null float64
SanitBoro               89235 non-null float64
SanitDistrict           89238 non-null float64
SanitSub                88789 non-null object
Address                 89785 non-null object
ZoneDist1               89795 non-null object
ZoneDist2               2553 non-null object
ZoneDist3               34 non-null object
ZoneDist4               2 non-null object
Overlay1                8827 non-null object
Overlay2                96 non-null object
SPDist1                 4602 non-null object
SPDist2                 0 non-null float64
SPDist3                 0 non-null float64
LtdHeight               0 non-null float64
SplitZone               89788 non-null object
BldgClass               89788 non-null object
LandUse                 89440 non-null float64
Easements               89854 non-null int64
OwnerType               16374 non-null object
OwnerName               89280 non-null object
LotArea                 89854 non-null int64
BldgArea                89854 non-null int64
ComArea                 89854 non-null int64
ResArea                 89854 non-null int64
OfficeArea              89854 non-null int64
RetailArea              89854 non-null int64
GarageArea              89854 non-null int64
StrgeArea               89854 non-null int64
FactryArea              89854 non-null int64
OtherArea               89854 non-null int64
AreaSource              89854 non-null int64
NumBldgs                89854 non-null int64
NumFloors               89854 non-null float64
UnitsRes                89854 non-null int64
UnitsTotal              89854 non-null int64
LotFront                89854 non-null float64
LotDepth                89854 non-null float64
BldgFront               89854 non-null float64
BldgDepth               89854 non-null float64
Ext                     29034 non-null object
ProxCode                89788 non-null float64
IrrLotCode              89788 non-null object
LotType                 89788 non-null float64
BsmtCode                89788 non-null float64
AssessLand              89854 non-null int64
AssessTot               89854 non-null int64
ExemptLand              89854 non-null int64
ExemptTot               89854 non-null int64
YearBuilt               89854 non-null int64
YearAlter1              89854 non-null int64
YearAlter2              89854 non-null int64
HistDist                854 non-null object
Landmark                111 non-null object
BuiltFAR                89854 non-null float64
ResidFAR                89854 non-null float64
CommFAR                 89854 non-null float64
FacilFAR                89854 non-null float64
BoroCode                89854 non-null int64
BBL                     89854 non-null int64
CondoNo                 89854 non-null int64
Tract2010               89854 non-null int64
XCoord                  86595 non-null float64
YCoord                  86595 non-null float64
ZoneMap                 89817 non-null object
ZMCode                  1688 non-null object
Sanborn                 89735 non-null object
TaxMap                  89735 non-null float64
EDesigNum               1470 non-null object
APPBBL                  89788 non-null float64
APPDate                 10969 non-null object
PLUTOMapID              89854 non-null int64
FIRM07_FLAG             3511 non-null float64
PFIRM15_FLAG            3332 non-null float64
Version                 89854 non-null object
dtypes: float64(32), int64(30), object(25)
memory usage: 59.6+ MB

In [27]:
#The cardinality of the data in PLUTO dataset is NOT at the same level as the complaint dataset.
df_bx['Address'].describe()

count           89785
unique          87017
top       SHORE DRIVE
freq               42
Name: Address, dtype: object

In [28]:
#Some observations:
#You can't use data for other complaint types to build the model in this scenario.
#The features that you use to build the model can come from the datasets: Complaint Dataset, PLUTO Dataset and any other Dataset.